/*@media screen and (max-width: 928px) {*/
/*  .heading {*/
/*    font-size: 32px;*/
/*  }*/

/*  .subheading {*/
/*    font-size: 80px;*/
/*  }*/
/*}*/

/*@media screen and (max-width: 465px) {*/
/*  .page-header .container {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*  }*/
/*  .page-header a {*/
/*    margin-top: 10px;*/
/*  }*/
/*}*/

/*@media screen and (max-width: 430px) {*/
/*  .skills > div {*/
/*    flex: 80%;*/
/*    justify-content: start;*/
/*    margin-bottom: 15px;*/
/*  }*/
/*}*/

/* Mobile - 1023px -------------------------------- */
@media only screen and (max-width: 63.9375rem) {

/* Main description -------------------------------- */
  .main-description>.container {
    flex-direction: column;
    align-items: center;
  }

  .main-description .main-img {
    display: flex;
    justify-content: center;
    width: 60%;
  }

  .main-text {
    margin: 0 2rem;
    gap: 10px;
    text-align: center;
  }

}

/* Small Desktop - 1024px -------------------------------- */
@media only screen and (min-width: 64rem) {

}