/* General -------------------------------- */

body {
  margin: 0;
  min-width: 320px;
  font-family: 'Neucha', cursive;
  font-size: 22px;
  line-height: 1.3;
  color: #3D405B;
  background-color: #F4F1DE;
}

section {
  margin-bottom: 35px;
}

img {
  max-width: 100%;
  height: auto;

  /* ensures the image never overflows the container.
     It stays contained within it's width and height and expands to fill it
     then stops once it reaches an edge */
  object-fit: contain;
}

p {
  margin: 0;
}

a {
  color: #3D405B
}

.heading-container {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.heading {
  margin: 0 auto 0 0;
  font-family: 'Comfortaa', "Old Standard TT", "Times", "Times New Roman", serif;
  font-size: 32px;
  /*align-content: center;*/
  /*font-weight: 400;*/
}

.container {
  max-width: 1095px;
  /*max-width: 80%;*/
  margin: 0 auto;
  display: flex;
}

hr {
  max-width: 900px;
  border-top: 3px solid #bbb;
  margin-bottom: 25px;
}


/* Main description -------------------------------- */

#main-description {
  padding-top: 30px;
}

#main-description>.container {
  gap: 20px;
}

.main-img {
  display: flex;
  min-width: 40%;
  max-width: 40%;
  /*align-items: flex-start;*/
}

.main-text > .heading {
  font-size: 31px;
}

.main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 21px;
}

#main-description p {
  text-align: justify;
}

.telegram-button {
  display: inline-flex;
  align-items: center;
  gap: 5px;

  cursor: pointer;
  background-color: #3D405B;
  border-radius: 6px;
  padding: 8px 10px;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #FFF;
  text-decoration: none;

}
.telegram-button:hover {
  background-color: #484b6a;
}
.telegram-button:active {
  background-color: #484b6a;
}

.telegram-button .fa-brands {
  font-size: 32px;
}


/* Education -------------------------------- */

/*#education .heading-container {*/
/*  margin-bottom: 5px;*/
/*}*/

#education > .container {
  flex-direction: column;
}

#education .container:nth-child(2) {
  min-height: 660px;  /* чтобы блок не прыгал, когда меняется картинка */
  gap: 25px;
}

.edu-text {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  min-width: 47%;
  max-width: 47%;
  gap: 40px;
}

.edu-text ul {
  margin: 0;
}

.gallery-container {
  position: relative;
  overflow: hidden;
}

.gallery-container button {
  margin: 0;
}


/*https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_transitions/Using_CSS_transitions#transitioning_display_and_content-visibility*/
.gallery {
    display: flex;
    justify-content: center;

    height: 100%;
    align-items: center;

    transition: all 1s;
}

.gallery img {
    width: 84%;
    display: none;

    opacity: 0;
    transition: opacity .2s linear;
}
.gallery img.active {
    display: block;

    opacity: 1;
}
@starting-style {
    .gallery img.active {
        opacity: 0;
    }
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 43%;
    width: auto;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    z-index: 10;
}

.left {
    left: 0;
}

.right {
    right: 0;
}


/* Types of work -------------------------------- */

#types-of-work > .container {
  flex-direction: column;
  gap: 10px;
}

#types-of-work .heading-container {
  margin: 0;
}

#types-of-work > .container > p {
  text-align: center;
  margin-bottom: 10px;
}

/* TODO: remove */
/*  margin-bottom: 30px;*/
/*}*/
/*#types-of-work > .container > p:last-child {*/
/*  margin-bottom: 0;*/
/*}*/

.work-types {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

#types-of-work .work-types p:nth-child(2n+1) {
  color: #C57D69;
}

#types-of-work .work-types p:nth-child(2n) {
  font-size: 17px;
}

.work-types div {
  flex: 1 0 calc(25% - 10px);
}
.work-types p:nth-child(1) {
  margin: 0;
}
.work-types p:nth-child(2) {
  margin: 0 1px 20px;
}


/* About approach -------------------------------- */

#about-approach > .container {
  flex-direction: column;
}

#about-approach p {
  text-align: justify;
}



/* Price and booking -------------------------------- */

#price-and-booking > .container {
  flex-direction: column;
}

#price-and-booking > .container > p {
  text-align: center;
}

#price-and-booking > .container > p:nth-child(2) {
  margin-bottom: 10px;
}

#price-and-booking .work-types div:nth-child(1) p {
  padding-left: 50%;
}
#price-and-booking .work-types div:nth-child(2) p {
  padding-right: 50%;
}

#price-and-booking .work-types p:nth-child(2) {
  margin: 0;
}

#price-and-booking .fa-ruble-sign {
  font-size: 16px;
}


/* First time -------------------------------- */

#first-time > .container {
  flex-direction: column;
  text-align: center;
}


/* Kinda footer -------------------------------- */

#footer {
  margin-top: 50px;
}

#footer > .container {
  flex-direction: column;
  align-items: center;
}

#footer img {
  min-width: 30%;
  max-width: 30%;
}